.login-container {
	background-color: var(--dark-color-primary);
	color: var(--dark-color-text);
	padding: 2rem;
	margin: 2rem;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	max-width: 30rem;
	/* display: flex;
	flex-direction: column;	  */
	width: 100%;

	h1{
		font-size: 1.5rem;
	}
}

.login-form{
	display: flex;
	flex-direction: column;
	

	label {
		margin-top: 1.5rem;
		text-align: left;
	}

	input {
		font-size: 1rem;
		padding: 0.8rem;
		border-radius: 8px;
		border: none;
		background-color: var(--dark-color-background);
		color: var(--dark-color-text);
	}

	.error-display{
		color: rgb(250, 48, 48);
		font-size: 1rem;
		margin-top: 0.2rem;
		min-height: 1.1rem;
	}

	.create-account{
		margin-top: 0.2rem;
		color: rgb(142, 139, 139);
		font-size: 1rem;
		cursor: pointer;
	}

	.form-btn-container{
		margin-top: 1rem;
		display: flex;
		gap: 1rem;

		.form-btn{
			border: none;
			border-radius: 8px;
			padding-top: 0.8rem;
			padding-bottom: 0.8rem;
			flex-grow: 1;
			width: 100%;
			font-size: 1rem;
			color: var(--dark-color-text);
			cursor: pointer;

			&:hover{
				opacity: 0.8;
			}
		}

		.register-btn{
			background-color: var(--color-accent);
			
		}

		.back-btn{
			background-color: var(--dark-color-background);
		}
	}
}